# nixpacks.toml

[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.build]
cmds = ["npm install", "npx prisma generate", "npm run build"]

[start]
cmd = "npx next start -H 0.0.0.0 -p 3000"

[variables]
NODE_ENV = "production"
